.Rproj.user
.Rhistory
.RData
.md
.log
.gz
unnamed*.png
Blog/*.log
Blog/*.gz
Blog/*.md
Blog/*unnamed*.pdf
Blog/*unnamed*.png
Blog/*.idx
Activities/*.md
Notes/*.md
Epidemiology/*.md
Epidemiology/Notes/*.md
Epidemiology/Notes/*.gz
Epidemiology/Notes/.log
Epidemiology/Activities/*.log
Epidemiology/Activities/*.gz
Notes/*.md
index.md
